<template>
  <div class="small">
    <bar-chart :chart-data="datacollection"></bar-chart>
  </div>
</template>

<script>
  import BarChart from '../BarChart.js'

  export default {
    components: {
      BarChart
    },
    props:['words', 'flag'],
    data () {
      return {
        datacollection: {},
        labels: [],
        counts: []
      }
    },
    mounted() {
        this.generateData();
        this.fillData()
    },
    watch:{
        flag:function(val){
            if(val){
                this.generateData();
                this.fillData()
            }
        },
    },
    methods: {
      generateData(){
          console.log('estoy aqui')
          this.words.forEach(w => {
            this.labels.push(w.word)
            this.counts.push(w.count)
        })
      },
      fillData () {
        this.datacollection = {
          labels: this.labels,
          datasets: [
            {
              label: 'Data Frequency',
              backgroundColor: '#f87979',
              data: this.counts
            }
          ]
        }
      },
    }
  }
</script>