<template>
    <div class="input-words mb-5">
        <div class="alert alert-danger" role="alert" v-if="empty">
            El cuadro de texto está vacio.
        </div>
        <div class="form-group">
            <label for="text-area"><h3>Ingrese un Texto</h3></label>
            <textarea class="form-control" name="textarea" rows="5" v-model="draft.textarea" :class="lenghtClass"></textarea>
            <small class="form-text text-muted"> Solo se puede insertar <b>2048</b> caracteres <b>|</b> {{draft.textarea.length}} caracteres insertados</small>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-success" @click="Save()">Count Words</button>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        return{
            draft:{
                textarea: ''
            },
            empty: false
        }
    },
    computed:{
        lenghtClass(){
            if(this.draft.textarea.length > 0){
                if(this.draft.textarea.length > 2048){
                    return 'is-invalid';
                }else{
                    return 'is-valid';
                }
            }
        }
    },
    methods:{
        async Save(){
            if(this.draft.textarea.length > 0){
                this.empty = false;
                if(this.draft.textarea.length > 2048){
                    console.log('El textarea supera los 2048 caracteres')
                }else{
                    let url = '/words';
                    const parameters = this.draft;
                    await axios.post(url, parameters)
                        .then(response=> {
                            this.draft.textarea = '';
                        }).catch(error=>{
                            console.log(error)
                    });
                    this.$emit('save');
                }
            }else{
                this.empty = true;
            }
            
           
        }
    }
}
</script>

<style>

</style>