<template>
    <div class="words-frecuency-table text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Word</th>
                    <th>Frequency</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(word,index) in words" :key="word.id">
                    <th>{{index+1}}</th>
                    <th>{{word.word}}</th>
                    <th>{{word.count}}</th>
                    <th @click="Delete(word, index)" ><i class="fas fa-times fa-2x text-danger"></i></th>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    props:['words'],
    data(){
        return{
           
        }
    },
    methods:{
        Delete(word, index){
            this.$emit('delete', word, index)
        }
    }
}
</script>

<style>
.words-frecuency-table{
    max-height:530px;
    overflow-y:auto;
}
.fas{
    cursor: pointer;
}

</style>