<template>
    <div class="container">
        <h1 class="text-center">Proyecto - Frecuencia de Palabras</h1>
        <div class="col-12">
            <input-words-component
            @save="getWords()"
            ></input-words-component>
        </div>
        <div class="row" v-if="flag">
            <div class="col-6">
                <table-words-component
                :words="words"
                @delete="deleteWord(...arguments)"
                ></table-words-component>
            </div>
            <div class="col-6">
                <graphic-words-component
                :words="words"
                :flag="flag"
                ></graphic-words-component>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    data(){
        return{
            unordered: [],
            words:[],
            flag: false
        }
    },
    created(){
        this.getWords();
    },
    methods:{
        async getWords(){
            this.flag = false;
            let url = '/words'
            await axios.get(url)
            .then(response=>{
                this.unordered = response.data;
                this.words = this.unordered.sort(function(a,b) {return b.count - a.count});
            })
            .catch(error =>{
                console.log(error);
            });
            if(this.words.length > 0){
                this.flag = true;
            }
        },
        deleteWord(word, index){
            this.flag = false;
            let url = '/words/' + word.id
            axios.delete(url)
            .then(response => {
                this.words.splice(index, 1);
                this.flag = true;
            })
            .catch(error =>{
                console.log(error);
            });
            
        }
    }
}
</script>

<style>
.spin{
    text-align: center;
}
</style>